@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: 'Open Sans', sans-serif;
    @apply antialiased bg-gray-50;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.custom-flags button {
  @apply h-[56px] w-[109px] hover:border-primary-brand-color bg-white border-2 border-gray-400  hover:border-primary-brand-color focus:border-primary-brand-color active:border-primary-brand-color focus-visible:border-primary-brand-color focus:outline-none transition-colors;
}
